@keyframes cards-anim {
    from {
        filter: blur(50px);
    }
}
.cards {
    background-color: rgba(0, 0, 0, 0.75);
    &-container {
        animation: cards-anim .5s linear;
    }
}

.card {
    width: 100%;
    height: 50vh;
    perspective: 100%;
    background-color: rgba(0, 0, 0, 0.75);

    &.active &-wrapper {
        transform: rotateY(-180deg);
    }

    &-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform-style: preserve-3d;
        color: white;
        &--front,
        &--back {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
        }

        &--front {
            transform: rotateY(0deg);

            &:hover {
                cursor: pointer;
            }

            &--description {
                position: absolute;
                top: 0;
                padding: $padding-primary;
                margin: $margin-primary * 1;
                font-weight: normal;
                font-size: 30px;
                text-align: center;
                letter-spacing: 5px;
                transition: 1s $transition-style;
                z-index: 3;
            }
            &:hover &--description {
                top: 5%;
                transform: scale(1.1);
            }

            &--img {
                position: absolute;
                top: 0;
                padding: $padding-primary;
                margin: $margin-secondary;
                max-width: 100px;
                max-height: 100px;
                transition: 1s $transition-style;
            }
            &:hover &--img {
                top: 5%;
                transform: scale(1.1);
            }

            &--title {
                position: absolute;
                padding: $padding-primary;
                bottom: 15px;
                left: auto;
                border-bottom: 5px solid rgba(255, 255, 255, 0.5);
                transition: 0.3s $transition-style;
                &--letter {
                    display: inline-block;
                    font-size: 25px;
                    min-width: 5px;
                    color: rgba(255, 255, 255, 0.5);
                    transition: 0.5s $transition-style;
                }
            }
            &:hover &--title {
                transform: translateY(-50%);
                border-bottom: 5px solid rgba(255, 255, 255, 0.8);
                &--letter {
                    color: rgba(255, 255, 255, 1);
                    transform: translateY(-30%);
                    font-size: 30px;
                }
            }
        }

        &--back {
            transform: rotateY(180deg);

            &--img {
                position: absolute;
                padding: $padding-primary;
                margin: $margin-secondary;
                max-width: 50px;
                max-height: 50px;
                transition: .3s $transition-style;
                top: 0;
            }
            &--img:hover {
                cursor: pointer;
                top: 5%;
                transform: scale(1.2);
            }

            &--description {
                position: absolute;
                top: 20%;
                padding: $padding-primary;
                margin: $margin-primary * 2;
                font-weight: normal;
                font-size: 15px;
                text-align: center;
                letter-spacing: 5px;
                transition: .3s $transition-style;
                z-index: 3;
            }
            &:hover &--description {
                top: 25%;
                transform: scale(1.1);
            }

            &--button {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: $padding-primary 0;
                font-weight: normal;
                font-size: 30px;
                text-align: center;
                letter-spacing: 5px;
                transition: .3s $transition-style;
                background-color: rgba(0, 0, 0, 0.6);
                border: none; 
                &--letter {
                    display: inline-block;
                    font-size: 30px;
                    min-width: 5px;
                    color: white;
                    transition: 0.5s $transition-style;
                }
                &:focus {
                    outline: none;
                }
            }
            &--button:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.8);
            }
            &--button:hover  &--button--letter {
                transform: translateY(-15%);
            }
        }

    }
}
