h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 60px;
}
h2 {
    font-size: 52px;
}
h3 {
    font-size: 46px;
}
h4 {
    font-size: 38px;
}
h5 {
    font-size: 30px;
}
h6 {
    font-size: 22px;
}

.txt {
    font-size: 25px;
    margin: $margin-primary;
}

.txt-centered {
    text-align: center;
}
