@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .list-none {
        list-style-type: none;
    }
    .list-none::-webkit-details-marker {
        display: none;
    }

    @keyframes view-anim {
        from {
            transform: rotateY(90deg);
        }
    }

    @keyframes home-anim {
        from {
            transform: rotateY(-90deg);
        }
    }

    .view {
        animation: view-anim .4s ease-in-out;
    }

    #home {
        animation: home-anim .4s ease-in-out;
    }

    .card {
        perspective: 100%;
        &.active &-wrapper {
            transform: rotateY(-180deg);
        }

        &-wrapper {
            transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transform-style: preserve-3d;
        }

        &--front,
        &--back {
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
        }

        &--front {
            transform: rotateY(0deg);
        }

        &--back {
            transform: rotateY(180deg);
        }
    }
}
