@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .list-none {
        list-style-type: none;
    }
    .list-none::-webkit-details-marker {
        display: none;
    }

    @keyframes view-anim {
        from {
            opacity: 0.3;
            transform: rotateZ(270deg);
        }
    }

    @keyframes home-anim {
        from {
            opacity: 0.3;
            transform: rotateZ(-270deg);
        }
    }

    .view {
        animation: view-anim 0.5s cubic-bezier(0.17, 0.74, 0.17, 1);
    }

    #home {
        animation: home-anim 0.5s cubic-bezier(0.17, 0.74, 0.17, 1);
    }

    .card {
        perspective: 100%;
        &.active &-wrapper {
            transform: rotateY(-180deg);
        }

        &-wrapper {
            transition: 1s cubic-bezier(0.17, 0.74, 0.17, 1.44);
            transform-style: preserve-3d;
        }

        &--front,
        &--back {
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
        }

        &--front {
            transform: rotateY(0deg);
        }

        &--back {
            transform: rotateY(180deg);
        }
    }

    /* Firefox */
    * {
        scrollbar-width: 0px;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 0px;
    }

}
