$padding-primary: 16px;
$padding-secondary: 8px;
$padding-separation: 4px;

$margin-primary: 16px;
$margin-secondary: 8px;
$margin-separation: 4px;

$transition-style: cubic-bezier(0.7, -0.5, 0.2, 1.5);