@use "sass:map";
@import "./grid-variables";
@import "./grid-functions";

.grid {
    .row {
        display: grid;
        grid-template-columns: repeat($grid-columns, $col-width);
        @each $screen in $screens {
            @media #{breakpoint($screen)} {
                @for $i from 1 through $grid-columns {
                    #{col($screen, $i)} {
                        grid-column-end: span $i;
                    }
                    #{offset($screen, $i)} {
                        grid-column-start: $i;
                    }
                }
            }
        }
    }
}

@each $screen in $screens {
    @media #{breakpoint($screen)} {
        #{hidden($screen)} {
            display: none !important;
        }
    }
}
